html {
    font-size: 10px;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48rem;
    width: 30rem;
    padding: 1.2rem;
    border-radius: 2rem;
    gap: 2rem;
}

.card img {
    height: 27.6rem;
    width: 27.6rem;
    border-radius: 1rem;
}
.card-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    width: 27rem;
}

.card-information h2 {
    font-size: 2.3rem;
    color: hsl(218, 44%, 22%);
    
}

.card-information p {
    font-size: 1.6rem;
    color: hsl(220, 15%, 55%);
}